.todo-item{
    padding: 16px 5px;
    border-bottom: 1px dashed #bbb;
    display: flex;
  }
  
  .todo-item:hover{
    background: #eee;
  }
  
  .item-name{
    flex-basis: 0;
    flex-grow: 9;
  }
  
  .item-delete{
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
    color: #f44336;
    font-weight: bold;
    cursor: pointer;
  }
  .todo-item span:first-child:before {
    content: '\2713';
    padding: 5px;
    color: green;
	font-weight: bold;
}